<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poketest</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <ul id="poke-list"></ul>
    <div id="cont">
        <!-- <div id="terrain"></div> -->
        <div id="terrain2"></div>
        <div id="user"></div>
    </div>
    <div class="info you">
        <div class="wrap">
          <span class="name name1"></span>
          <span class="level">Lv1</span>
          <span class="health">25/25</span>
          <span class="healthbar_bg"></span>
          <span class="healthbar"></span>
        </div>
    </div>
    <script src="/js/pokemon.js"></script>
    <script src="/js/maininfo.js"></script>
    <script src="/js/healthbar.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>